<nav clas="navbar">

    <a href="#" class="logo">
        <img src="../Assets/img/logo/KS.png" alt="Logo">
        Kilomètre<span>- Santé</span>
    </a>

    <ul class="nav-menu" id="nav-menu">
        <li class="nav-item">
            <a href="#/home" class="nav-link" data-route="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="#/pharmacie" class="nav-link" data-route="/pharmacie">Pharmacie</a>
        </li>
        <li class="nav-item">
            <a href="#/about" class="nav-link" data-route="/about">About</a>
        </li>
    </ul>

    <label for="menu-filtre">filtre</label>

    <select id="menu-filtre" name="menu-filtre">
        <option value="">selectionnez</option>
        <option value="home">Home</option>
        <option value="pharmacie">Pharmacie</option>
        <option value="about">About</option>
    </select>

    <button class="nav-burger" id="nav-burger" aria-label="Menu">
        <span class="burger-bar"></span>
        <span class="burger-bar"></span>
        <span class="burger-bar"></span>
    </button>

</nav>